.container  {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.question-container {
  min-width: 800px;
  min-height: 300px;
  background-color: #000000;
  color: antiquewhite;
  padding: 35px;
  border-radius: 10px;
}

#question {
  color: aqua;
}

h2 {
  color: seagreen;
}

.radios {
  display: flex;
  flex-direction: column;
  line-height: 2;
  font-size: 22px;
  color: crimson;
}

label {
  margin-left: 15px;
  cursor: pointer;
}

input {
  cursor: pointer;
}

h2 {  
  font-size: 30px;
  font-weight: 600;
}

p {
  font-size: 25px;
}